 /* .card {
     width: 500px;
     height: 270px;
 } */

 /* .image-carousel {
     width: 70px !important;
     height: 70px;
     margin: 0 auto;
     margin-top: 50px;
 } */

 /* .item {
     background: #F1F3FF;
 } */